<a href="https://colab.research.google.com/github/NazrinZamanova/DS_HW1/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Nazrin
What is your age? 21

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a==b:
  print("a is equal to b")
else:
  print("a is not equal to b")

a is not equal to b

In [7]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

In [14]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  if k<5:
    print(k,end = ",");
  else:
    print(k)

1,2,3,4,5

In [23]:
#Q5-Using while loop, print 5,4,3,2,1
k=5
while k in range(5,0,-1):
    if k > 1:
        print(k, end=",")
    else:
        print(k)
    k -= 1

5,4,3,2,1

In [30]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for i in range(10, -2, -2):
    if i != 8:
        print(i, end=",")

10,6,4,2,0,

In [32]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

import datetime

def calc_age(b_year):
    this_year = datetime.datetime.now().year
    age = this_year - b_year
    return age

print(calc_age(1944))

80

In [36]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def subtraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arithmetic.addition(3,4))
print(arithmetic.subtraction(5,3))
print(arithmetic.multiplication(2,3))
print(arithmetic.division(6,3))

7
2
6
2.0

In [42]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def calc_sum(n):
  sum = 0
  for i in range(1,n+1):
    sum+=i
  print(sum)

calc_sum(3)

6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

3
6
9
12
15